.box {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    overflow: hidden;
    background-color: #0e0736ac;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {

            color: rgb(88, 69, 199);
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        gap: 1rem;

        &::-webkit-scrollbar {
            width: 0.3rem;

            &-thumb {
                background-color: #ffffff77;
                width: 0.1rem;
                border-radius: 1rem;
            }
        }

        .contact {
            background-color: #ffffff34;
            min-height: 5rem;
            cursor: pointer;
            width: 90%;
            border-radius: 0.4rem;
            padding: 0.4rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            transition: 0.5s ease-in-out;

            .avatar {
                img {
                    height: 3rem;
                }
            }

            .username {
                h3 {
                    color: white;
                }
            }
        }

        .selected {
            background-color: #5a5ecae2;
        }
    }

    .current-user {
        background-color: #1a1a5c;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .avatar {
            img {
                height: 4rem;
                max-inline-size: 100%;
            }
        }

        .username {
            h2 {
                color: white;
            }
        }

        @media screen and (min-width: 720px) and (max-width: 1080px) {
            gap: 0.5rem;

            .username {
                h2 {
                    font-size: 1rem;
                }
            }
        }
    }

}